.fa-2x .fa-2x:hover {
    color: #333;
}


html {
    background-color: #33C3F0;
}

.container {
    background-color: #33C3F0;
    width: 100%;
}

body {
    background-color: #333;
    color: #fff;
}

.interition-brand {
    font-family: 'Archivo Black', sans-serif;
}

.standardtm {
    font-size: 50%;
    vertical-align: top;
}


.logo-small {
    color: #33C3F0;
    font-size: 50px;
}

.logo {
    color: #33C3F0;
    font-size: 200px;
}

.navbar-text > a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar {
    color: #fff !important;
    background-color: #33C3F0 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #31708f !important;
    background-color: #33C3F0 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #33C3F0 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #33C3F0;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    background-color: #33C3F0;
}

.jumbotron {
    color: #579ac0;
}

.panel-body {
    color: #579ac0;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

table {
    color: #33C3F0;
}


